<?php
/**
 * Created by PhpStorm.
 * User: 陈大剩
 * Date: 2019/5/16
 * Time: 11:03
 */
return [
    'oss_custom_host' => '', //oss下载地址
    'app_code' => '',
    'token_key' => '',
    'aliyun_oss' => [
        'KeyId' => '',  //您的Access Key ID
        'KeySecret' => '',  //您的Access Key Secret
        'DefaultEndpoint' => '', //development, test, production
        'Endpoint' => '',  //阿里云oss 外网地址endpoint
        'IntranetEndpoint' => '',  //阿里云oss 内网地址endpoint
        'Bucket' => '',  //Bucket名称
    ],
    'website_hostname' => '',
    'callback_url' => '',
    'redis' => [
        'hostName' => '127.0.0.1',
        'passWord' => '123456',
        'hostPort' => '6379',
        'outTime' => 120
    ]
];